* text=auto eol=lf

*.cmd text eol=crlf
*.bat text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.pdf binary
*.zip binary
*.gz binary
*.wasm binary
*.exe binary
*.dll binary
*.dylib binary
*.so binary
